<ion-view view-title="Edit Event">

  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive">Save</button>
  </ion-nav-buttons>

  <ion-content>

    <div class="list"> <!-- list containing form input fields that modify the values of vm.event which is the variable event in the view model -->

      <!-- fancy inputs -->
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>       <!-- ng-model directive allows for two way binding between the view and the model -->
        <input type="text" placeholder="Name" ng-model="vm.event.name">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Date</span>
        <input type="text" placeholder="Date" ng-model="vm.event.date">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Postcode</span>
        <input type="text" placeholder="Postcode" ng-model="vm.event.postcode">
      </label>

    </div> <!-- END OF LIST -->

  </ion-content>

</ion-view>
