<ion-view title="{{vm.title}}">
  <ion-content>

    <form name="eventForm" class="list list-inset" novalidate>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name
          <span style="color: red; position: absolute; right: 2%;" ng-show="eventForm.eventName.$touched && eventForm.eventName.$invalid">Required</span>
        </span>
        <input name="eventName" type="text" placeholder="Name" ng-model="vm.event.name" ng-minlength="2" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date
          <span style="color: red; position: absolute; right: 2%;" ng-show="eventForm.eventDate.$touched && eventForm.eventDate.$invalid">Required</span>
        </span>
        <input name="eventDate" type="text" placeholder="Date" ng-model="vm.event.date" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Postcode
          <span style="color: red; position: absolute; right: 2%;" ng-show="eventForm.eventPostcode.$touched && eventForm.eventPostcode.$invalid">Required</span>
        </span>
        <input name="eventPostcode" type="text" placeholder="Postcode" ng-model="vm.event.postcode" ng-minlength="6" required>
      </label>
      <button class="button button-block button-positive" ng-click="vm.save()">Save</button>
    </form>

    <div ng-hide="vm.hideActivityList">
      <h2 style="text-align : center;" >Activities</h2>
      <h3 ng-show="vm.noActivities" style="text-align : center;" >No Activities Yet!</h3>
      <div class="list list-inset">
        <ion-item class="item-remove-animate" ng-repeat="activity in vm.activities">
          <h2>{{activity.name}}</h2>
          <p>{{activity.description}}</p>
          <p>{{activity.units}}</p>
          <ion-option-button class="button button-assertive icon-left ion-trash-b" ng-click="vm.deleteActivityFromEvent(activity.id)">Delete</ion-option-button>
        </ion-item>
        <button style="left: 50%; transform: translateX(-50%);" class="button button-block button-balanced icon-left ion-plus-round"
          ng-click="vm.gotoActivityList()"> Add Activity</button>
      </div>
    </div>

  </ion-content>
</ion-view>